<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Bible scriptures</h1>

<h2>Genesis</h2>

<h3>Chapter 1</h3>
    <p>In the beginning God created the heavens and the earth.</p>
    <p>God said, "Let there be light," and there was light.</p>
    <p>God said, "Let there be darkness," and there was darkness.</p>
    <p>God said, "Let the light shine upon the earth," and the light shone.</p>
    <p>God called the light "day," and the darkness he called "night."</p>
    <p>God made a firmament, and let it be the sky.</p>
    <p>God made the firmament black, and let it be the ground.</p>
    <p>God made the firmament white, and let it be the firmament.</p>
    <p>God made the firmament blue, and let it be the firmament.</p>
    <p>God said, "Let the waters be gathered together into one place, and let the dry land appear."</p>
    <p>God gathered the waters, and let them become a single place, and the dry land appeared.</p>
    <p>God said, "Let the waters be called the seas, and let the dry land be called the land of the living."</p>
    <p>God made the seas of water, and let them be the waters.</p>
    <p>God made the dry land of the living, and let it be the land.</p>
    <p>God said, "Let the earth sprout vegetation, so that the man may eat bread from it."</p>
    <p>God made the earth sprout vegetation, and let it be the earth.</p>
    <p>God said, "Let the man sow his seed in the earth, and let it sprout."</p>

</body>
</html>